.input {
  height: 50px;
  width: 80%;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

input {
  background: none;
  border: none;
  flex: 1;
  padding-left: 1em;
  font-size: 1em;
}

input:focus {
  outline: none;
}

button{
    border:none;
    border-radius: 10px;
    background-color: #f4c7ab;
    margin-right: 10px;
    height: 30px;
    width: 50px;
}
